<div class="container" id="home-container">
    <div class="jumbotron container-fluid py-5 text-center text-white">
        <h1 class="display-5 fw-bold">Alpha blog</h1>
        <p class="fs-4">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content within the larger container</p>
        <button class="btn btn-success btn-lg" type="button">Sign up!</button>
    </div>
    <%= link_to "About", about_path %><br>
    <%= link_to "Article listing", articles_path %>
</div>
