<h1 class="text-center mt-4">Edit category name</h1>

<%= render 'form' %>
<%= link_to "[ Cancel and return to category show page ]", @category, class: "d-flex justify-content-center text-info mb-3" %>