<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Google", "https://www.google.com", class: "text-white"%></small>
    </div>
</footer>